In [1]:
import pandas as pd

In [6]:
bigmart = pd.read_csv('train_bm.csv')
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
bigmart.shape

(8523, 12)

In [8]:
bigmart.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [9]:
bigmart['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [10]:
pd.get_dummies(bigmart['Outlet_Type']).head()

   Grocery Store  Supermarket Type1  Supermarket Type2  Supermarket Type3
0              0                  1                  0                  0
1              0                  0                  1                  0
2              0                  1                  0                  0
3              1                  0                  0                  0
4              0                  1                  0                  0

In [13]:
bigmart_encoded =pd.get_dummies(bigmart)
bigmart_encoded.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

Look at the newly created variables Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_small the order between these variable is destroyed.As a result we are missing out some imp.info

In [14]:
bigmart_encoded[['Outlet_Size_High','Outlet_Size_Medium','Outlet_Size_Small']]

      Outlet_Size_High  Outlet_Size_Medium  Outlet_Size_Small
0                    0                   1                  0
1                    0                   1                  0
2                    0                   1                  0
3                    0                   0                  0
4                    1                   0                  0
...                ...                 ...                ...
8518                 1                   0                  0
8519                 0                   0                  0
8520                 0                   0                  1
8521                 0                   1                  0
8522                 0                   0                  1

[8523 rows x 3 columns]

### Problem 1 Solution

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
bigmart['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [18]:
le =LabelEncoder()
le.fit_transform(['Small','Medium','High'])

array([2, 1, 0], dtype=int64)

##### Label encoder uses the alphabetical order

In [19]:
bigmart['Outlet_Size'] = bigmart['Outlet_Size'].map({'Small':0,
                                                     'Medium':1,
                                                     'High':2 })

In [24]:
bigmart['Outlet_Size'].fillna(0.1).astype(int)

0       1
1       1
2       1
3       0
4       2
       ..
8518    2
8519    0
8520    0
8521    1
8522    0
Name: Outlet_Size, Length: 8523, dtype: int32

## Problem 2

# The number of features has increased from 12 to 1600 where maximum values are 0

In [26]:
bigmart_encoded.shape,bigmart.shape

((8523, 1605), (8523, 12))

In [27]:
bigmart.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [28]:
bigmart['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [30]:
temp =bigmart['Item_Identifier'].value_counts()
temp.head()

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
Name: Item_Identifier, dtype: int64

In [32]:
bigmart['Item_Identifier_count']=bigmart['Item_Identifier'].apply(lambda x:temp[x])
bigmart[['Item_Identifier','Item_Identifier_count']].head()

  Item_Identifier  Item_Identifier_count
0           FDA15                      8
1           DRC01                      6
2           FDN15                      7
3           FDX07                      6
4           NCD19                      6

In [33]:
for i in range(0,len(bigmart)):
    if bigmart['Item_Identifier_count'][i]<4:
        bigmart['Item_Identifier'][i] ='other'

C:\Users\Dhanashri\AppData\Local\Temp\ipykernel_10756\2165536095.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bigmart['Item_Identifier'][i] ='other'

In [34]:
bigmart.head(7)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Identifier_count
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,1.0,Tier 1,Supermarket Type1,3735.1380,8
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,1.0,Tier 3,Supermarket Type2,443.4228,6
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,1.0,Tier 1,Supermarket Type1,2097.2700,7
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,6
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,2.0,Tier 3,Supermarket Type1,994.7052,6
5,other,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,1.0,Tier 3,Supermarket Type2,556.6088,3
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,2.0,Tier 3,Supermarket Type1,343.5528,8

In [35]:
bigmart['Item_Identifier'].value_counts()

other    418
FDG33     10
FDW13     10
FDW26      9
NCY18      9
        ...
DRJ25      4
FDP32      4
FDQ28      4
FDJ07      4
FDD28      4
Name: Item_Identifier, Length: 1403, dtype: int64